{
  "extends": ["eslint:recommended", "google"],
  "ecmaFeatures": {
    "modules": true
  },
  "env": {
    "es6": true,
    "node": true,
    "mocha": true
  },
  "globals": {
    "sails": true,
    "jwToken": true,
    "_": true,
    "Jobs": true,
    "Subscriptions": true
  },
  "rules": {
    "max-len": "off",
    "no-console": "warn",
    "object-shorthand": "error",
    "valid-jsdoc": "off",
    "require-jsdoc": "off",
    "spaced-comment": [
      "error",
      "always",
      {
        "exceptions": ["-", "*"]
      }
    ]
  }
}
